section{
  display: inline-block;
  width: 29.7vw;
  align-content: center;
  position: relative;
  vertical-align: top;
  }
h3,  p{
  text-align: center; 
  width: 28vw;
  padding-bottom: 15px;
}
.placeholder{
  position: relative;
  box-align: center;
  width: 29vw;
}
#sectionOne{
  position: relative;
  margin-left: 3vw;
}
#sectionTwo{
  position:relative;
  margin-left: 2vw;
}
#sectionThree{
  position: absolute;;
  right:2vw;
  
}
section img{
  position: relative;
  box-align: center;
  width: 28vw;
  border: solid 5px #dd3a34;
}
h3{
  font-size: 25px;
}