/* header stuff */
@font-face{
  font-family: "playfairDisplay";
  src: url("https://fonts.google.com/specimen/Playfair+Display?selection.family=Playfair+Display"); 
}
a{
  text-decoration:none;
  color: #dd3a34;
  text-shadow: .1vw .1vw #494747;
}
header{
  z-index: 2;
  position: absolute;
  background: #ffc012;
  width: 50vw;
  left:25vw;
  position: fixed;
  height: 15vw  ;
  top: 1vw;
  border-radius: 50%;
  border-width: 10px;
  border-color: #dd3a34;
  border-style: solid;
  box-shadow: 2px 2px 10px 10px #494747;
}
.logotext{
  position: absolute;
  font-family: cursive;
  top: 2vw;
  left: 8vw; 
  font-size: 7vw;
  color: #dd3a34;
  text-shadow: .15vw .15vw #494747;
  line-height: 5.47vw;
}
#cookies{
  top:8vw;
  left: 18vw;
}
#logo{
  position: absolute;
  top: 1vw;
  width: 40vw;
  left: 9vw;
  padding:0;
}
#navbar{
  position: fixed;
  left:0px;
  background: #ffc012;
  top: 18vw;
  font-size: 25px;
  width: 100vw;
  border-top: solid 2px;
  border:solid;
  text-align: center;
  vertical-align: center;
}
#navbar li{
  display: block;
  border-left: solid 2px;
  border-right: solid 2px;
  float: left;
}
#navbar li:hover{
  transition-delay: 322ms;
  background:#494747;
  color: #dd3a34
}
#navbar{
  z-index:1;
  width:100vw;
  padding:0;
  margin:0;
}
li{
  border-left-style: none;
  padding:0;
  margin:0;
  width: 16.32vw;
  height:2.8vw;
}
/* body stuff */
body{
  font-family: 'Playfair Display', serif;
  z-index: 0;
  background: #6ae9ff;
  width: 95vw;
  padding-top: 21.5vw;
  font-size:18px;
  overflow: hidden;
}
h2{
  text-align: center;
  font-size: 27px;
  margin-bottom: 15px
}
